@import 'variables.css';

/* Remove default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: var(--fontMain);
    header, footer {
        padding: 1rem;
        color: var(--colorMain);
        background-color: var(--colorSecondary);    
    }
    main {
        margin-top: 2rem;
    } 
    /* Screen size */
    @media (min-width: 850px) {
        main {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

/* Navigation */
nav {
    position: sticky;
    top: 0;
    padding: 0 1rem;
    background-color: var(--colorSecondary);
    li {
        list-style-type: none;
        margin-bottom: 0.5rem;
    }
    @media (min-width: 480px) {
        ul {
            display: flex;
            gap: 2rem;
        }    
        li {
            margin-bottom: 0;
        }
    }
    button {
        text-decoration: none;
        border: none;
        color: var(--colorMain);
        background-color: var(--colorSecondary);
        font-size: 1.1rem;
        &:hover {
            text-decoration: underline;
            color: var(--colorTertiary);
            cursor: pointer;
        }
        &.selected {   
            color: var(--colorTertiary);
            text-decoration: underline;
        }
    }
}

/* Article with movies */
article {
    &.film {
        border: solid thin var(--colorTertiary);
        border-radius: 0.5rem;
        margin-bottom: 1rem;
    }
    p {
        padding: 1rem;
    }
    img {
        margin-top: 0.25rem;
        align-self: center;
        @media (min-width: 480px) {
            align-self: flex-start;
            margin-top: 0;
            border-radius: 0 0 0 0.5rem;
        }
    }
    header {
        padding: 0.25rem 1rem;
        color: var(--colorMain);
        background-color: var(--colorSecondary);
        border-radius: 0.5rem 0.5rem 0 0;
    }
}

/* Content */
.film-content {
    display: flex;
    flex-flow: column nowrap;
    @media (min-width: 480px) {
        flex-flow: row nowrap;
    }
}

/* Card info */
.date::before {
    content: 'Release date: ';
    font-weight: bold;
}
.original-title::before {
    content: 'Original title: ';
    font-weight: bold;
}

/* Header */
header {
    font-size: 14px;
    h1 {
        margin-bottom: 0.5rem;
    }
}
@media (min-width: 480px) {
    header {
        font-size: 16px;
    }
}

/* Header & Footer */
header, footer {
    font-family: var(--fontHeader);
}

/* Footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}


